<div class="container-fluid mt-2">
    <div class="row container-fluid infoPersonal m-0 w-100">
        <div class="col-sm-3 col centered">
            <a class="navbar-brand" href="https://getbootstrap.com/" target="_blank">
                <img src="../../../../assets/logos/bootstrap-5-1.svg" alt="Bootstrap" width="90" height="72">
            </a>
            <a class="navbar-brand" href="#">
                <img src="../../../../assets/logos/angular-icon-1.svg" alt="Angular" width="90" height="72">
            </a>
        </div>
        <div class="col-sm-3 col centered">
                <img src="../../../assets/programer.png" alt="" class="programer">
        </div>
        <div class="col-sm-3 col p-5 text-center">
            <h2>Johan Rosero</h2>
            <p><img src="../../../assets/github-icon-1.svg" alt="" width="30" height="24"><a
                    href="https://github.com/JohanRosero" target="_blank"
                    class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Perfil
                    GitHub</a></p>
            <p class="fw-meduim">Presentacion último Trabajo Práctico</p>
        </div>
        <div class="col-sm-3 col centered">
            <a class="navbar-brand" href="#">
                <img src="../../../../assets/logos/nodejs-1.svg" alt="Node" width="90" height="72">
            </a>
            <a class="navbar-brand" href="#">
                <img src="../../../../assets/logos/mongodb-icon-1.svg" alt="Mongo" width="90" height="72">
            </a>
        </div>
    </div>
    <div class="container-fluid fondo w-100">
        <div class="col-sm-4 col "></div>
        <div class="col-sm-4 col "></div>
        <div class="col-sm-4 col "></div>
    </div>
    <div class="row container">
        <div class="col-sm-4 col "></div>
        <div class="col-sm-4 col "></div>
        <div class="col-sm-4 col "></div>
    </div>

</div>